<template>
  <q-page class="column q-pa-md q-gutter-md">
    <q-input
      v-model="filter"
      outlined
      dense
      clearable
      debounce="200"
      placeholder="Search filter"
      />

    <q-tree
      v-model:expanded="expanded"
      :nodes="tree"
      :filter="filter"
      node-key="id"
      label-key="name"
      default-expand-all
      >
      <template #default-header="prop">
        <div class="row items-center grow">
          <q-icon :name="prop.node.icon" class="q-mr-sm"/>
          <div>{{ prop.node.name }}</div>
          <q-space/>
          <group-actions
            :group="prop.node"
            @deleteGroup="group => onDeleteGroup(group)"
            @createUser="parent => createUserDialog = { open: true, parent: parent }"
            @createSubGroup="parent => createGroupDialog = { open: true, parent: parent }"
            />
        </div>
      </template>
    </q-tree>
  </q-page>

  <dialog-create-group v-model="createGroupDialog.open" :parent="createGroupDialog.parent"/>

  <dialog-create-user v-model="createUserDialog.open" :parent="createUserDialog.parent"/>

  <q-page-sticky position="bottom-right" :offset="[18, 18]">
    <q-btn fab icon="add" color="accent" @click="createGroupDialog.open = true"/>
  </q-page-sticky>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue';

import { useAPI } from 'store/api'
import { deleteGroup } from 'tools/API'
import { withConfirmation } from 'tools/Dialog'
import { notifyInfo } from 'tools/Notify'

import { Group } from 'components/models'
import GroupActions from 'components/GroupActions'
import DialogCreateUser from 'components/DialogCreateUser'
import DialogCreateGroup from 'components/DialogCreateGroup'


// Template refs
const filter = ref<string>(null)

// State
const createGroupDialog = ref({ open: false, parent: null })
const createUserDialog = ref({ open: false, parent: null })


// Handlers
const onDeleteGroup = (group: Group) => withConfirmation(
  'Confirm group deletion',
  `Are you sure you want to delete group ${group.name} ?`,
  () => deleteGroup(group)
    .then(() => notifyInfo(`Group ${group.name} deleted`))
)

// Tree management
const storeAPI = useAPI()

interface Node extends Group {
  parent: string
  icon: string
  children: Node[]
  selectable: boolean
}

const expanded = ref<[]>(['dc=codeur,dc=online'])

const getGroupParent = (groupDN: string) => {
  const comps: string[] = groupDN.split(',')
  comps.shift()
  return comps.join(',')
}

const tree = computed(() => {
  const rootDN = 'dc=codeur,dc=online'
  const root: Node = {
    id: rootDN,
    name: rootDN,
    icon: 'home',
    children: []
  } as Node

  const nodes: Map<string, Node> = new Map()
  nodes.set(rootDN, root)

  storeAPI.getGroups.forEach((g: Group) => {
      const node: Node = { ...g, icon: 'group', selectable: true, children: [], parent: getGroupParent(g.id) } as Node
      nodes.set(node.id, node)
      nodes.get(node.parent).children.push(node)
    })

  return [root]
})
</script>
