<template>
  <q-page class="column q-pa-md q-gutter-md">
    <q-input
      v-model="filter"
      autofocus
      outlined
      dense
      clearable
      debounce="500"
      placeholder="Search filter"
      @update:model-value="fetchUsers"
      />

    <q-table
      title="Users"
      :rows="users"
      :loading="pending"
      :columns="columns"
      row-key="username"
      />
  </q-page>
</template>

<script setup lang="ts">
import { ref } from 'vue';

// Page data
const filter = ref<string>(null)
const pending = ref<boolean>(false)
const users = ref<User[]>([])

const columns = [
  { name: 'username', label: 'Username', field: 'username', sortable: true },
  { name: 'fullName', label: 'Full name', field: 'fullName', sortable: true },
]

// API
import { notifyError } from 'tools/Notify'
import { searchUsers } from 'tools/API'

const fetchUsers = () => {
  // Empty list when removing filter
  if (filter.value == null || filter.value.length == 0) {
    users.value = []
    return
  }

  pending.value = true
  searchUsers(filter.value)
    .then(json => { users.value = json as User[] })
    .catch(err => { notifyError(`${err as string}`) })
    .finally(() => { pending.value = false })
}
</script>
