<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container>
      <q-page class="row items-center justify-evenly">
        <Login @onLoggedIn="onLoggedIn"/>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script setup>
import Login from 'components/Login'

// Router
import { useRouter } from 'vue-router'
const router = useRouter()

// Handlers
const onLoggedIn = async () => { await router.push({ name: 'Index' }) }
</script>
