<template>
  <q-page class="column q-pa-md q-gutter-md">
    <div class="row q-gutter-sm">
      <SelectGroups
        dense
        clearable
        :model-value="groupFilter"
        @update:model-value="onGroupSelected"
        />

      <q-input
        v-model="filter"
        autofocus
        outlined
        dense
        clearable
        debounce="500"
        placeholder="Search filter"
        class="col"
        @update:model-value="fetchUsers"
        />
    </div>

    <q-table
      title="Users"
      :rows="users"
      :loading="pending"
      :columns="columns"
      row-key="username"
      >
      <template #body-cell-actions="props">
        <q-td :props="props">
          <q-btn dense round flat color="secondary" icon="visibility" @click="() => showUserDialog = { open: true, user: props.row }"/>
          <q-btn dense round flat color="secondary" icon="delete" @click="() => onDeleteUser(props.row)"/>
        </q-td>
      </template>
    </q-table>
  </q-page>

  <dialog-card v-model="showUserDialog.open" full-width full-height title="Show User">
    <user-panel :user-id="showUserDialog.user.id"/>
  </dialog-card>

  <dialog-create-user v-model="createUserDialog.open" :parent="groupFilter"/>

  <q-page-sticky position="bottom-right" :offset="[18, 18]">
    <q-btn fab icon="add" color="accent" @click="createUserDialog.open = true"/>
  </q-page-sticky>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue';

import { withConfirmation } from 'tools/Dialog'
import { searchUsers, deleteUser } from 'tools/API'
import { notifyInfo, notifyError } from 'tools/Notify'

import { User, Group } from 'components/models'

import UserPanel from 'components/UserPanel'
import DialogCard from 'components/DialogCard'
import SelectGroups from 'components/SelectGroups'
import DialogCreateUser from 'components/DialogCreateUser'


// Template refs
const filter = ref<string>()

// State data
const users = ref<User[]>([])
const groupFilter = ref<Group>()
const pending = ref<boolean>(false)
const createUserDialog = ref({ open: false })
const showUserDialog = ref({ open: false, user: null })

// Table options
const columns = [
  { name: 'username', label: 'Username', field: 'username', align: 'left', sortable: true },
  { name: 'firstName', label: 'First name', field: 'firstName', align: 'left', sortable: true },
  { name: 'lastName', label: 'Last name', field: 'lastName', align: 'left', sortable: true },
  { name: 'email', label: 'Email', field: 'email', align: 'left', sortable: true },
  { name: 'actions', label: 'Actions', field: '', align: 'right' }
]

// Lifecycle
onMounted(() => fetchUsers())

// Handlers
const onGroupSelected = (group: Group) => {
  groupFilter.value = group
  fetchUsers()
}

const onDeleteUser = (user: User) => withConfirmation(
  'Confirm user deletion',
  `Are you sure you want to delete user ${user.username} ?`,
  () => deleteUser(user)
    .then(() => notifyInfo(`User ${user.username} deleted`))
)

// API
const fetchUsers = () => {
  // Empty list when removing filter
  if (groupFilter.value == null && (filter.value == null || filter.value.length == 0)) {
    users.value = []
    return
  }

  pending.value = true
  searchUsers(filter.value, groupFilter.value?.id)
    .then(json => { users.value = json })
    .catch(err => { notifyError(`${err as string}`) })
    .finally(() => { pending.value = false })
}
</script>
