<template>
  <dialog-form-query
    v-bind="$attrs"
    title="Create a group"
    :data="initialFormData"
    :submit="onCreateGroup"
    >
    <template #default="{ data, pending }">
      <SelectGroups
        v-model="data.parent"
        label="Select a parent group"
        :readonly="pending"
        :rules="[ val => val || 'Must select a parent' ]"
        />
      <q-input
        v-model="data.group.name"
        outlined
        autofocus
        placeholder="Name"
        :readonly="pending"
        :rules="[val => (val && val.length > 0) || 'Pick a name']"
        />
      <q-input
        v-model="data.group.description"
        outlined
        autofocus
        placeholder="Description"
        :readonly="pending"
        />
    </template>
  </dialog-form-query>
</template>

<script setup lang="ts">
import { computed } from 'vue'

import { createGroup } from 'tools/API'
import { notifyInfo } from 'tools/Notify'

import { Group } from 'components/models'
import SelectGroups from 'components/SelectGroups'
import DialogFormQuery from 'components/DialogFormQuery'

// Props
const props = defineProps<{ parent: Group }>()

// Form state
interface FormState {
  parent: Group,
  group: Group
}

const initialFormData = computed<FormState>(() => { return {
  parent: props.parent,
  group: {
    name: '',
    description: ''
  }
}})

// Handlers
const onCreateGroup = (form: FormState) => createGroup(form.parent, form.group)
  .then((g: Group) => notifyInfo(`New group ${g.name} created`))
</script>
