<template>
  <q-dialog ref="dialogRef" v-bind="$attrs" :persistent="pending" @hide="onDialogHide">
    <q-card>
      <q-card-section>
        <slot name="title">
          <div class="text-h6">{{ props.title }}</div>
        </slot>
      </q-card-section>

      <q-card-section class="q-pt-none">
        {{ props.message }}
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="Cancel" color="primary" :disabled="pending" v-close-popup/>
        <q-btn flat label="OK" color="primary" :loading="pending" @click="submit"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useDialogPluginComponent } from 'quasar'

import { notifyError } from 'tools/Notify'

// Emits
defineEmits(useDialogPluginComponent.emits)

// Props
const props = defineProps<{
  title: string,
  message: string,
  onSubmit: () => Promise<void>
}>()

// State
const pending = ref(false)

// Handlers
const submit = () => {
  pending.value = true
  return props.onSubmit()
    .then(() => onDialogOK())
    .catch((err) => notifyError(`${err as string}`))
    .finally(() => pending.value = false)
}

// QDialog
const { dialogRef, onDialogHide, onDialogOK } = useDialogPluginComponent()
</script>
