<!--
Dialog with builtin support for forms and async requests

- bind attributes
- create an internal state initialized from props
- automatically manage a pending flag for the request
- form components can access the state and the flag using scoped slots

# Props

- title: string
- width: string
- data: any The initial values for the form state
- submit: (Record) => Promise<void> A callback taking the state and returning a promise

# Slots

- #default for content, inject state as `data` and the flag as `pending`

-->

<template>
  <dialog-card v-bind="$attrs" :persistent="state.pending" :title="props.title" :width="props.width" @update:model-value="val => emit('update:modelValue', val)">
    <q-form ref="form" @submit="submitForm" @keyup.enter.prevent="onEnterPressed">
      <slot :data="state.data" :pending="state.pending"></slot>
    </q-form>

    <template #actions>
      <q-btn flat label="Cancel" color="primary" :disabled="state.pending" v-close-popup/>
      <q-btn flat label="OK" color="primary" :loading="state.pending" @click="form?.submit"/>
    </template>
  </dialog-card>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue'

import { notifyError } from 'tools/Notify'

import type { QForm } from 'components/QForm'
import DialogCard from 'components/DialogCard'


// Emits to control the dialog
const emit = defineEmits<{
  (e: 'update:modelValue', open: boolean)
}>()

// Props
type Values = string | number | boolean | null
type State = Record<string, Values>

const props = withDefaults(defineProps<{
  title: string,
  submit: (d: State) => Promise<void>,
  data?: State,
  width?: string,
}>(), {
  data: () => { return {} },
  width: '66vw'
})

// State
const form = ref<QForm>()
const state = ref({ pending: false, data: props.data })

// Update state when props change
watch(
  () => [props.data],
  () => state.value.data = { ...props.data }
)

// Handlers

// Handle ENTER pressed to validate the form
const onEnterPressed = () => {
  // The if is there to prevent a weird bug: if a QForm has only one input, it automatically triggers
  // a form submit when enter is pressed, resulting in double callback
  if (state.value.pending) return
  form.value.submit()
}

// Submit the form, handle pending query and errors
const submitForm = () => {
  state.value.pending = true
  props.submit(state.value.data)
    .then(() => {
      emit('update:modelValue', false)
    })
    .catch(err => {
      console.error(err)
      notifyError(`${err as string}`)
    })
    .finally(() => state.value.pending = false)
}
</script>
