<template>
  <dialog-form-query
    v-bind="$attrs"
    title="Create a user"
    :data="initialFormData"
    :submit="onCreateUser"
    >
    <template #default="{ data, pending }">
      <SelectGroups
        v-model="data.parent"
        label="Select a parent group"
        :readonly="pending"
        :rules="[ val => val || 'Must select a parent' ]"
        />

      <q-input
        v-model="data.user.firstName"
        outlined
        autofocus
        placeholder="First name"
        :readonly="pending"
        :rules="[val => (val && val.length > 0) || 'Pick a name']"
        />

      <q-input
        v-model="data.user.lastName"
        outlined
        placeholder="Last name"
        :readonly="pending"
        :rules="[val => (val && val.length > 0) || 'Pick a name']"
        />

      <q-input
        v-model="data.user.username"
        outlined
        placeholder="Username"
        :readonly="pending"
        :rules="[val => (val && val.length > 0) || 'Pick a username']"
        />

      <q-input
        v-model="data.user.email"
        outlined
        placeholder="Email"
        :readonly="pending"
        :rules="[val => (val && val.length > 0) || 'Pick a username']"
        />

      <input-password
        v-model="data.user.password"
        outlined
        placeholder="Password"
        :readonly="pending"
        :rules="[val => (val && val.length > 0) || 'Pick a password']"
        />
    </template>
  </dialog-form-query>
</template>

<script setup lang="ts">
import { computed } from 'vue'

import { createUser } from 'tools/API'
import { notifyInfo } from 'tools/Notify'

import { Group, User } from 'components/models'
import InputPassword from 'components/InputPassword'
import SelectGroups from 'components/SelectGroups'
import DialogFormQuery from 'components/DialogFormQuery'

// Props
const props = defineProps<{ parent: Group }>()

// Form state
interface FormState {
  parent: Group,
  user: User
}

const initialFormData = computed<FormState>(() => { return {
  parent: props.parent,
  user: {
    firstName: '',
    lastName: '',
    username: '',
    password: '',
    email: ''
  }
}})

// Handlers
const onCreateUser = (form: FormState) => createUser(form.parent, form.user)
    .then((u: User) => notifyInfo(`New user ${u.username} created`))
</script>
