<!--
Basic dialog using q-card.

Bind attributes

Props:
- title: string
- width: string

Slots: 
- #default for content
- #title override default title
- #actions set card actions
-->

<template>
  <q-dialog v-bind="$attrs" @hide="emit('update:modelValue', false)">
    <q-card :style="computedStyle">
      <q-card-section>
        <slot name="title">
          <div class="text-h6">{{ props.title }}</div>
        </slot>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <slot></slot>
      </q-card-section>

      <q-card-actions align="right">
        <slot name="actions"></slot>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { computed } from 'vue'

// Emits to control the dialog
const emit = defineEmits<{
  (e: 'update:modelValue', open: boolean)
}>()

// Props
const props = withDefaults(defineProps<{
  title: string,
  width?: string
}>(), {
  width: ''
})

const computedStyle = computed(() => props.width ? { width: props.width } : undefined)
</script>
