<template>
  <template v-if="$q.screen.gt.xs">
    <q-btn flat round icon="person_add" color="secondary" :disabled="props.disabled" @click.stop="emit('createUser', props.group)"/>
    <q-btn flat round icon="group_add" color="secondary" :disabled="props.disabled" @click.stop="emit('importUsers', props.group)"/>
    <q-btn flat round icon="create_new_folder" color="secondary" :disabled="props.disabled" @click.stop="emit('createSubGroup', props.group)"/>
    <q-btn flat round icon="delete" color="secondary" :loading="props.disabled" @click.stop="emit('deleteGroup', props.group)"/>
  </template>

  <template v-else>
    <!-- TODO implement dropdown menu for actions -->
    <q-btn flat round icon="more_vert" color="secondary"/>
  </template>
</template>

<script setup lang="ts">
import { Group } from 'components/models'

// For responsive menu
import { useQuasar } from 'quasar'
const $q = useQuasar()

// Props
const props = withDefaults(defineProps<{
  group: Group
  disabled?: boolean
}>(), {
  disabled: false
})

// Emits
const emit = defineEmits<{
  (e: 'deleteGroup', group: Group): void
  (e: 'createSubGroup', parent: Group): void
  (e: 'createUser', parent: Group): void
  (e: 'importUsers', parent: Group): void
}>()
</script>
