<template>
  <div class="column q-gutter-sm" :style="{ width: '66vw' }">
    <div class="text-h3 q-mb-md text-center">Connexion</div>
    <q-input v-model="username" dense outlined autofocus placeholder="Username" @keyup.enter="connect"/>
    <q-input v-model="password" dense outlined placeholder="Password" @keyup.enter="connect"/>
    <q-btn :loading="pending" color="accent" label="Connect" @click="connect"/>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue'

import { login } from 'tools/API'
import { notifyInfo, notifyError } from 'tools/Notify'

// Emits
const emit = defineEmits<{
  (e: 'onLoggedIn')
}>()

// State
const pending = ref<boolean>(false)
// TODO disable reading credentials for production
const username = ref<string>(process.env.USERNAME || '')
const password = ref<string>(process.env.PASSWORD || '')

// Autologin for dev purpose
// TODO disable this for production
onMounted(() => connect())

// Handlers
const connect = () => {
  console.log(`login with ${username.value} ${password.value}`)

  pending.value = true
  login(username.value, password.value)
    .then(() => { 
      notifyInfo('User connected')
      emit('onLoggedIn')
    })
    .catch(err => { notifyError(`${err as string}`) })
    .finally(() => pending.value = false)
}
</script>
