<template>
  <q-item clickable @click="router.push({ name: this.route })">
    <q-item-section v-if="icon" avatar>
      <q-icon :name="icon" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
      <q-item-label caption>
        {{ caption }}
      </q-item-label>
    </q-item-section>
  </q-item>
</template>

<script setup lang="ts">
import { useRouter } from 'vue-router'
const router = useRouter()

// Props
withDefaults(defineProps<{
  title: string,
  route: string
  icon: string
  caption?: string,
}>(), {
  caption: '',
  route: '',
  icon: ''
})
</script>
