<template>
  <q-select
    :model-value="modelValue"
    :options="groups"
    v-bind="$attrs"
    outlined
    use-input
    @filter="filterFn"
    label="Select a group"
    option-label="id"
    class="col-auto"
    @update:model-value="onGroupSelected"
    >
    <template #selected-item="{ opt }">
      <div>
        <b>{{ opt.name }}</b>
        <span v-if="getParentGroup(opt)"> ⟨ {{ getParentGroup(opt)?.id }}</span>
      </div>
    </template>

    <template #option="{ opt, itemProps }">
      <q-item v-bind="itemProps">
        <q-item-section>
          <div>
            <b>{{ opt.name }}</b>
            <span v-if="getParentGroup(opt)"> ⟨ {{ getParentGroup(opt)?.id }}</span>
          </div>
        </q-item-section>
      </q-item>
    </template>
  </q-select>

</template>

<script setup lang="ts">
import { ref, computed } from 'vue'

import { useAPI } from 'store/api'
import { Group } from 'components/models'

// Props and emits for v-model
defineProps<{ modelValue: Group }>()
const emit = defineEmits<{
  (e: 'update:modelValue', group: Group)
}>()

// Templare refs
const groupFilter = ref<string>('')

// Store data
const storeAPI = useAPI()
const groups = computed(() => storeAPI.getGroups.filter((g: Group) => g.id.includes(groupFilter.value)))

const getParentGroup = (group: Group) => storeAPI.getGroup(group.parent)

// Handlers
const onGroupSelected = (e) => { emit('update:modelValue', e) }
const filterFn = (val: string, update: () => void, _abort: () => void) => {
  update(() => { groupFilter.value = val })
}
</script>
