<template>
  <div>

    <!-- Name and avatar -->
    <h6 class="row items-center">
      <q-avatar color="secondary" size="1.5em" font-size="0.75em">{{ user?.firstName ? user.firstName[0] : '' }}</q-avatar>
      <q-btn disabled flat round color="accent" icon="edit" size="sm" style="align-self: start" @click="showDialogs.names = true"/>
      <span class="text-bold q-ml-md">{{ user.firstName }} {{ user.lastName }}</span>
      <q-btn flat round color="accent" icon="edit" size="sm" style="align-self: start" @click="showDialogs.names = true"/>
    </h6>


    <!-- Details -->
    <div style="display: grid; grid-template-columns: 100px 1fr; grid-gap: 1rem; align-items: center;">
      <span class="text-bold">Username :</span>
      <span>{{ user.username }}</span>

      <span class="text-bold">UID : </span>
      <span>{{ user.uid }}</span>

      <span class="text-bold">Home : </span>
      <span>{{ user.home }}</span>

      <span class="text-bold">Email :</span>
      <span>{{ user.email }} <q-btn flat round color="accent" icon="edit" size="sm" @click="showDialogs.mail = true"/></span>

      <span class="text-bold">SSH key :</span>
      <span v-if="user.sshKey">
        <q-btn flat no-caps color="primary" :disabled="sshKeyName === null" :label="sshKeyName" @click="showDialogs.showSSHKey = true"/>
        <q-btn flat round color="accent" icon="edit" size="sm" @click="showDialogs.sshKey = true"/>
        <q-btn flat round color="accent" icon="delete" size="sm" @click="removeSSHKey"/>
      </span>
      <span v-else>
        No key available
        <q-btn flat round color="accent" icon="add" size="sm" @click="showDialogs.sshKey = true"/>
      </span>

      <span class="text-bold">Password :</span>
      <span><q-btn flat no-caps color="primary" label="Change password" @click="showDialogs.password = true"/></span>
    </div>


    <!-- Display SSH key dialog -->
    <dialog-card v-model="showDialogs.showSSHKey" title="SSH Key">
      <pre class="codeblock"><code>{{ user.sshKey }}</code></pre>

      <template #actions>
        <q-btn flat label="Edit" color="primary" v-close-popup @click="showDialogs.sshKey = true"/>
        <q-btn flat label="OK" color="primary" v-close-popup />
      </template>
    </dialog-card>


    <!-- Edit SSH key dialog -->
    <dialog-form-query v-model="showDialogs.sshKey" title="Edit SSH key" :data="{ sshKey: user.sshKey }" :submit="updateSSHKey">
      <template #default="{ data, pending }">
        <q-input
          v-model="data.sshKey"
          outlined
          autogrow
          autofocus
          type="textarea"
          :readonly="pending"
          :rules="[val => !!val || 'Required']"
          @keyup.enter.stop=""
          />
      </template>
    </dialog-form-query>


    <!-- Edit email dialog -->
    <dialog-form-query v-model="showDialogs.mail" title="Edit email" :data="{ email: user.email }" :submit="updateEmail">
      <template #default="{ data, pending }">
        <q-input
          v-model="data.email"
          outlined
          autofocus
          label="Email"
          :readonly="pending"
          :rules="[val => !!val || 'Required']"
          />
      </template>
    </dialog-form-query>


    <!-- Edit names dialog -->
    <dialog-form-query v-model="showDialogs.names" title="Edit names" :data="{ firstName: user.firstName, lastName: user.lastName }" :submit="updateNames">
      <template #default="{ data, pending }">
        <q-input
          v-model="data.firstName"
          outlined
          autofocus
          label="First name"
          :readonly="pending"
          :rules="[val => !!val || 'Required']"
          />
        <q-input
          v-model="data.lastName"
          outlined
          label="Last name"
          :readonly="pending"
          :rules="[val => !!val || 'Required']"
          />
      </template>
    </dialog-form-query>


    <!-- Change password dialog -->
    <dialog-form-query v-model="showDialogs.password" title="Update password" :data="{ password: '', confirmation: '' }" :submit="updatePassword">
      <template #default="{ data, pending }">
        <input-password
          v-model="data.password"
          outlined
          autofocus
          label="Password"
          :readonly="pending"
          :rules="[val => !!val || 'Required']"
          />

        <input-password
          v-model="data.confirm"
          outlined
          label="Confirmation"
          :readonly="pending"
          :rules="[val => !!val || 'Required', val => val === data.password || 'Must match password']"
          />
      </template>
    </dialog-form-query>

  </div>
</template>

<script setup lang="ts">
import { ref, computed, onMounted } from 'vue'

import { withConfirmation } from 'tools/Dialog'
import { getUser, updateUser } from 'tools/API'
import { notifyInfo, notifyError } from 'tools/Notify'

import { User, UserUpdate } from 'components/models'
import DialogCard from 'components/DialogCard'
import InputPassword from 'components/InputPassword'
import DialogFormQuery from 'components/DialogFormQuery'


// Props
const props = defineProps<{ userId: string }>()


// State
const user = ref<User>({})
const showDialogs = ref({
  mail: false,
  names: false,
  password: false,
  sshKey: false,
  showSSHKey: false
})


// Fetch user on mount
onMounted(() => {
  getUser(props.userId)
    .then(json => user.value = json)
    .catch(err => notifyError(`${err as string}`))
})


// Extract the name of the SSH key
const sshKeyName = computed((): string | null => {
  if(!user.value.sshKey || user.value.sshKey.length === 0) return null
  return user.value.sshKey.split(' ').pop()
})


// Remove SSH key
const removeSSHKey = () => withConfirmation(
  'SSH key removal',
  'Are you sure you want to delete this SSH key ?',
  () => updateUser(props.userId, { sshKey: null })
      .then(() => {
        user.value.sshKey = null
        notifyInfo('SSH Key removed')
      })
)


// Update SSH key
const updateSSHKey = ({ sshKey }: { sshKey: string }) => {
  return new Promise((resolve, reject) => {
    updateUser(props.userId, { sshKey })
      .then((updated: UserUpdate) => {
        user.value.sshKey = updated.sshKey
        notifyInfo('SSH Key updated')
        resolve()
      })
      .catch(err => reject(err))
  })
}


// Update email
const updateEmail = ({ email }: { email: string }) => {
  if(!email) throw 'Missing property'

  return new Promise((resolve, reject) => {
    updateUser(props.userId, { email })
      .then((updated: UserUpdate) => {
        user.value.email = updated.email
        notifyInfo('Email updated')
        resolve()
      })
      .catch(err => reject(err))
  })
}


// Update names
const updateNames = ({ firstName, lastName }: { firstName: string, lastName: string }) => {
  if(!firstName || !lastName) throw 'Missing properties'

  return new Promise((resolve, reject) => {
    updateUser(props.userId, { firstName, lastName })
      .then((updated: UserUpdate) => {
        user.value.firstName = updated.firstName
        user.value.lastName = updated.lastName
        notifyInfo('Names updated')
        resolve()
      })
      .catch(err => reject(err))
  })
}


// Update password
const updatePassword = ({ password }: { password: string }) => {
  if(!password) throw 'Missing property'

  return new Promise((resolve, reject) => {
    updateUser(props.userId, { password })
      .then(() => {
        notifyInfo('Password updated')
        resolve()
      })
      .catch(err => reject(err))
  })
}
</script>

