<template>
  <q-layout view="lHh Lpr lFf">

    <!-- Header -->
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title>
          LDAP Manager
        </q-toolbar-title>

        <q-btn flat round icon="logout" @click="handleLogout"/>
      </q-toolbar>
    </q-header>

    <!-- Footer -->
    <q-footer>
      <q-toolbar>
        <q-space/>
        <div>connected: {{ status.connected }} | connections: {{ status.openedConnections }}/{{ status.connections }}</div>
      </q-toolbar>
    </q-footer>

    <!-- Drawer -->
    <q-drawer v-model="leftDrawerOpen" show-if-above bordered>
      <q-list>
        <q-item-label header>
          Navigation
        </q-item-label>

        <NavigationLink icon="home" title="Home" route="Index"/>
        <NavigationLink icon="account_circle" title="Profile" route="Profile"/>
        <NavigationLink icon="groups" title="Users" route="Users"/>
        <NavigationLink icon="groups" title="Groups" route="Groups"/>
      </q-list>
    </q-drawer>

    <!-- Content -->
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup lang="ts">
import { ref, onMounted, onUnmounted } from 'vue'

// Router
import { useRouter } from 'vue-router'
const router = useRouter()

// Navigation drawer
import NavigationLink from 'components/NavigationLink'
const leftDrawerOpen = ref(false)
const toggleLeftDrawer = () => {
  leftDrawerOpen.value = !leftDrawerOpen.value
}

// Setup status timer
import { Status } from 'components/models'
let timer = ref()
const status = ref<Status>({})

// Store
import { useAPI } from 'store/api'
const storeAPI = useAPI()

// Lifecycle
onUnmounted(() => { clearInterval(timer.value) })
onMounted(() => {
  storeAPI.fetchGroups()
  updateStatus()
  timer.value = setInterval(() => updateStatus(), 30000)
})

// API
import { connectedFetch } from 'tools/API'
const updateStatus = () => {
  connectedFetch('GET', '/status')
    .then((json: Status) => { status.value = json })
    .catch(err => { console.log('Error fetching status: ', err) })
}

// Handlers
import { logout } from 'tools/API'
import { notifyInfo, notifyError } from 'tools/Notify'
const handleLogout = () => {
  logout()
    .then(() => { notifyInfo('User disconnected') })
    .catch((err) => { notifyError(`${err as string}`) })
    .finally(() => { void router.push({ name: 'Login' }) })
}
</script>
